.home {
  //transform: translateY(-50%);
  position: relative;
  width: 100%;
  &::after {
    content: "";
    background-image: url("../images/doc-2.png");
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  p {
    width: clamp(45ch, 50%, 75ch);
    margin: 0.5em auto;
  }
  display: flex;
  padding: 15vh 0;

  h3 {
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
    margin: 0.5em 0;
    color: hsl(54, 42%, 59%);
    //color: rgb(190, 80, 52);
  }
  .col-2 {
    .second-svg {
      margin: auto;
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
  .col-1 {
    border-right: 2px solid hsl(54, 46%, 42%);
    .first-svg {
      width: 100%;
      height: 200px;
      position: relative;
      overflow: hidden;
      #virus_svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: left 1s ease-out, top 1s ease-out;
        transition-delay: 0.1s;
        transform: translate(-50%, -50%) scale(5);
      }
      #fist_svg {
        transition: top 1s ease;
        position: absolute;
        top: 90%;
        left: 40%;
        transform: scale(5) translateX(-50%);
      }
    }
  }
  @media screen and (max-width: 1100px) {
    padding: 15vh 0;
  }
  @media screen and (max-width: 900px) {
    position: relative;
    transform: translateY(0);
    &::after {
      background-size: cover;
    }
    p {
      width: clamp(45ch, 50%, 75ch);
    }
    flex-direction: column;
    .col-1 {
      border-right: 0;
      border-bottom: 2px solid hsl(54, 46%, 42%);
    }
  }
  @media screen and (max-width: 400px) {
    p {
      width: auto;
    }
  }
}

#target_cross {
  animation: glowRed 3s ease infinite;
}

@keyframes glowRed {
  0% {
    fill: red;
  }
  50% {
    fill: black;
  }
  100% {
    fill: red;
  }
}
.home-container {
  min-height: 100vh;
}
